In [ ]:
#packages
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
from io import StringIO

# Data Preprocessing

## Cryto Data

In [1]:
#automated google chrome webbrowser
driver = webdriver.Chrome('C:/Users/mario/Desktop/MBF_St.Gallen/3. Semester/Smart Data Analytics/chromedriver/chromedriver')
driver.get('https://coinmarketcap.com/currencies/bitcoin/historical-data/')

NameError: name 'webdriver' is not defined

In [6]:
#historical data
data = driver.find_element_by_xpath("//*[@id='__next']/div[1]/div/div[2]/div/div[3]/div/div/div[2]/table").text

In [45]:
#data preprocessing
datastr = data.replace('Dec ', '12/').replace('Nov ', '11/').replace('Oct ', '10/').replace('Sep ', '09/').replace('Aug ', '08/').replace('Jul ', '07/').replace('Jun ', '06/').replace('May ', '05/').replace('Apr ', '04/').replace('Mar ', '03/').replace('Feb ', '02/').replace('Jan ', '01/').replace(', 2021', '/2021').replace(', 2020', '/2020').replace(', 2019', '/2019').replace(', 2018', '/2018').replace(', 2017', '/2017').replace('$','').replace(',','')
datastr = StringIO(datastr)
df = pd.read_csv(datastr, sep=" ",index_col=False)
df.drop('Cap', inplace=True, axis=1)
df = df.rename(columns={'Market':'Market Cap'})

In [46]:
df

,Date,Open*,High,Low,Close**,Volume,Market Cap
0,11/15/2021,65521.29,66281.57,63548.14,63557.87,30558763548,1199611097094
1,11/14/2021,64455.37,65495.18,63647.81,65466.84,25122092191,1235578996842
2,11/13/2021,64158.12,64915.67,63303.73,64469.53,30474228777,1216695126358
3,11/12/2021,64863.98,65460.81,62333.91,64155.94,36084893887,1210715199478
4,11/11/2021,64978.89,65579.01,64180.49,64949.96,35880633236,1225643127560
...,...,...,...,...,...,...,...
56,09/20/2021,47261.41,47328.20,42598.92,42843.80,43909845642,806395852718
57,09/19/2021,48268.86,48328.37,46919.80,47260.22,26967722648,889472404520
58,09/18/2021,47273.53,48791.78,47087.28,48278.36,28575630451,908584317849
59,09/17/2021,47771.00,48160.92,46832.52,47267.52,28727713711,889514744351
60,09/16/2021,48158.91,48486.83,47079.56,47783.36,31764293754,899179151780

In [57]:
df['Date'] = pd.to_datetime(df['Date'],
                                format="%m/%d/%Y",
                                errors='raise')
df_btc_price = df

In [15]:
#STILL TO DO

#change date range
datarange = driver.find_element_by_xpath("//*[@id='__next']/div[1]/div/div[2]/div/div[3]/div/div/div[1]/span/button")
datarange.click()
# days = driver.find_element_by_xpath("//*[@id='__next']/div/div/div[2]/div/div[3]/div/div/div/div/div/div/div/div/div/div[2]/ul/li[5]")
# days.click()

In [61]:
driver.get('https://coinmarketcap.com/currencies/ethereum/historical-data/')

In [62]:
#historical data
data = driver.find_element_by_xpath("//*[@id='__next']/div[1]/div/div[2]/div/div[3]/div/div/div[2]/table").text

In [63]:
#data preprocessing
datastr = data.replace('Dec ', '12/').replace('Nov ', '11/').replace('Oct ', '10/').replace('Sep ', '09/').replace('Aug ', '08/').replace('Jul ', '07/').replace('Jun ', '06/').replace('May ', '05/').replace('Apr ', '04/').replace('Mar ', '03/').replace('Feb ', '02/').replace('Jan ', '01/').replace(', 2021', '/2021').replace(', 2020', '/2020').replace(', 2019', '/2019').replace(', 2018', '/2018').replace(', 2017', '/2017').replace('$','').replace(',','')
datastr = StringIO(datastr)
df = pd.read_csv(datastr, sep=" ",index_col=False)
df.drop('Cap', inplace=True, axis=1)
df = df.rename(columns={'Market':'Market Cap'})

df['Date'] = pd.to_datetime(df['Date'],
                                format="%m/%d/%Y",
                                errors='raise')
df_eth_price = df

## Energy Consumption Data

In [18]:
#import energy consumption data
df_btc_energy = pd.read_csv (r'C:\Users\mario\Desktop\MBF_St.Gallen\3. Semester\Smart Data Analytics\Bitcoin Energy Consumption.csv')
df_eth_energy = pd.read_csv (r'C:\Users\mario\Desktop\MBF_St.Gallen\3. Semester\Smart Data Analytics\Ethereum Energy Consumption.csv')

In [19]:
df_btc_energy

            Date  Estimated TWh per Year  Minimum TWh per Year
0      2017/2/10                9.585659              3.331026
1      2017/2/11                9.547335              3.316227
2      2017/2/12                9.578774              3.198969
3      2017/2/13                9.476506              3.045178
4      2017/2/14                9.544807              3.150062
...          ...                     ...                   ...
1731  2021/11/06              187.773455             48.518606
1732  2021/11/07              188.325383             48.806185
1733  2021/11/08              188.926128             48.935738
1734  2021/11/09              189.876489             49.336480
1735  2021/11/10              190.490489             49.350032

[1736 rows x 3 columns]

In [54]:
df_btc_energy['Date'] = pd.to_datetime(df_btc_energy['Date'],
                                format="%Y/%m/%d",
                                errors='raise')
df_btc_energy

           Date  Estimated TWh per Year  Minimum TWh per Year
0    2017-02-10                9.585659              3.331026
1    2017-02-11                9.547335              3.316227
2    2017-02-12                9.578774              3.198969
3    2017-02-13                9.476506              3.045178
4    2017-02-14                9.544807              3.150062
...         ...                     ...                   ...
1731 2021-11-06              187.773455             48.518606
1732 2021-11-07              188.325383             48.806185
1733 2021-11-08              188.926128             48.935738
1734 2021-11-09              189.876489             49.336480
1735 2021-11-10              190.490489             49.350032

[1736 rows x 3 columns]

In [53]:
df_eth_energy['Date'] = pd.to_datetime(df_eth_energy['Date'],
                                format="%Y/%m/%d",
                                errors='raise')
df_eth_energy

           Date  Estimated TWh per Year  Minimum TWh per Year
0    2017-05-20                2.338304              2.131205
1    2017-05-21                2.331936              2.229735
2    2017-05-22                2.406776              2.275484
3    2017-05-23                2.479116              2.227113
4    2017-05-24                2.558065              2.259307
...         ...                     ...                   ...
1626 2021-11-06               85.401715             13.886184
1627 2021-11-07               85.730267             14.323845
1628 2021-11-08               86.238743             14.296010
1629 2021-11-09               86.589975             14.321949
1630 2021-11-10               86.932892             14.449464

[1631 rows x 3 columns]

## Merging datasets

In [65]:
df_btc = pd.merge(df_btc_price, df_btc_energy, on='Date')
df_btc.head()

,Date,Open*,High,Low,Close**,Volume,Market Cap,Estimated TWh per Year,Minimum TWh per Year
0,2021-11-10,66953.34,68789.63,63208.11,64995.23,48730828378,1226431510693,190.490489,49.350032
1,2021-11-09,67549.74,68530.34,66382.06,66971.83,42357991721,1263667113597,189.876489,49.336480
2,2021-11-08,63344.07,67673.74,63344.07,67566.83,41125608330,1274831490851,188.926128,48.935738
3,2021-11-07,61554.92,63326.99,61432.49,63326.99,24726754302,1194778776481,188.325383,48.806185
4,2021-11-06,61068.87,61590.68,60163.78,61527.48,29094934221,1160769349887,187.773455,48.518606

In [70]:
df_btc.to_csv('df_btc.csv', index=False)

In [67]:
df_eth = pd.merge(df_eth_price, df_eth_energy, on='Date')
df_eth.head()

,Date,Open*,High,Low,Close**,Volume,Market Cap,Estimated TWh per Year,Minimum TWh per Year
0,2021-11-10,4733.36,4859.50,4485.09,4636.17,22748160545,548414296327,86.932892,14.449464
1,2021-11-09,4810.07,4837.59,4718.04,4735.07,20834172627,560049280556,86.589975,14.321949
2,2021-11-08,4619.65,4822.36,4619.65,4812.09,19290896267,569094330697,86.238743,14.296010
3,2021-11-07,4523.98,4640.92,4510.98,4620.55,13541376033,546381671971,85.730267,14.323845
4,2021-11-06,4482.65,4531.00,4334.97,4521.58,14429076700,534616843813,85.401715,13.886184

In [69]:
df_eth.to_csv('df_eth.csv', index=False)